@media(min-width:1400px){
    .container{
        background-color: blue;
    }
}
@media (max-width:1400px){
    .container{

    background-color: red;
}
}
@media (max-width:1400px){
    .container{
        background-color: brown;
    }

}