
@media (min-width:576) {
    .col-sm-1{
        width: 100%;
    }
.col-sm-2{
        width: 50%;
    
}
    
.col-sm-3{
        width: 33.33%;
}
.col-sm-4{
        width: 25%;
}
    
.col-sm-5{
        width: 20%;
}
    
.col-sm-6{
        width: 16.66%;
}
    

    
}
@media (min-width:768px) {
.col-md-1{
        width: 100%;
    }
.col-md-2{
        width: 50%;
    
}
    
.col-md-3{
        width: 33.33%;
}
.col-md-4{
        width: 25%;
}
    
.col-md-5{
        width: 20%;
}
    
.col-md-6{
        width: 16.66%;
}
    
}
@media (min-width:992px) {
.col-lg-1{
        width: 100%;
    }
.col-lg-2{
        width: 50%;
    
}
    
.col-lg-3{
        width: 33.33%;
}
.col-lg-4{
        width: 25%;
}
    
.col-lg-5{
        width: 20%;
}
    
.col-lg-6{
        width: 16.66%;
}
    
}
@media (min-width:1200px) {
.col-xl-1{
        width: 100%;
    }
.col-xl-2{
        width: 50%;
    
}
    
.col-xl-3{
        width: 33.33%;
}
.col-xl-4{
        width: 25%;
}
    
.col-xl-5{
        width: 20%;
}
    
.col-xl-6{
        width: 16.66%;
}
    
}
@media (min-width:1400) {
.col-xxl-1{
        width: 100%;
    }
.col-xxl-2{
        width: 50%;
    
}
    
.col-xxl-3{
        width: 33.33%;
}
.col-xxl-4{
        width: 25%;
}
    
.col-xxl-5{
        width: 20%;
}
    
.col-xxl-6{
        width: 16.66%;
}
}

