
*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    
}

body{
    height: 100vh;
    width: 100%;
    background-color:rgb(223, 217, 217);
    color: black;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    width:100%;
}
.col-2{
    width:70%;
}

.column-2{
    width:50%;
}
.col-3{
    width: 33.33%;
}
.col-4{
    width:25%;
  
}
.col-5{
    width:20%;
}
.col-6{
      width:16.66%;
}
.ri-twitter-line{
    font-size: 30px;
}
.ri-messenger-line{
    font-size: 30px;
}
.ri-instagram-line{
    font-size: 30px;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-flex-start{
    justify-content: flex-start;
}
.align-items-center{
    align-items: center;
}
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.button{
    height: 60px;
    width: 120px;
    padding: 20px 10px;
    margin: 10px;
    border-radius: 100px;
    background-color: gray;
    text-align: center;
    color:black;


}
.text-size{
    font-size: 20px;
}

.section-1{
    background-color: rgb(81, 124, 124);
}
.section-2{
    background-color: rgb(68, 94, 115);
}
.bg-lightskyblue{
    background-color: rgb(6, 86, 135);
}

.flex-column{
    flex-direction: column;
}

.ri-javascript-fill{
    font-size: 100px;
   
}
.ri-javascript-line{
    font-size: 100px;
}

.ri-reactjs-line{
    font-size: 100px;
}
.ri-nextjs-fill{
    font-size: 100px;
}
.ri-nodejs-line{
    font-size: 100px;
}
.ri-copyright-fill{
    font-size: 100px;
}

.ri-creative-commons-fill{
    font-size: 100px;
}
.ri-leaf-fill{
    font-size: 100px;
}

.box{
    height:320px;
    width:800px;
    margin:10px;
    padding-top: 20px;
    background-color:lightskyblue;
    border-radius: 8px;
}
.text-design{
    font-family: fantasy;
    color:rgb(93, 242, 93);

}


