*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    background-color:lightgray;
    color: black;
}

body{
    height: 100vh;
    width: 100%;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    width:100%;
}
.col-2{
    width:70%;
}
.col-3{
    width: 33.33%;
}
.col-4{
    width:25%;
    background-color: black;
}
.col-5{
    width:20%;
}
.col-6{
      width:16.66%;
}
.ri-twitter-line{
    font-size: 30px;
}
.ri-messenger-line{
    font-size: 30px;
}
.ri-instagram-line{
    font-size: 30px;
}
.justify-content-cente{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.About-me{
    height: 50px;
    width: 120px;
    border-radius: 120px;
    background-color: #646161;
    /* font-size: 15px; */
    text-align: center;
    color: white;
    position: relative;

}




