*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    
}

body{
    height: 100vh;
    width: 100%;
    background-color:white;
    color: black;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    width:100%;
}
.col-2{
    width:70%;
}
.col-3{
    width: 33.33%;
}
.col-4{
    width:25%;
    background-color: black;
}
.col-5{
    width:20%;
}
.col-6{
      width:16.66%;
}
.ri-twitter-line{
    font-size: 30px;
}
.ri-messenger-line{
    font-size: 30px;
}
.ri-instagram-line{
    font-size: 30px;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.About-me{
    height: 60px;
    width: 120px;
    border-radius: 100px;
    background-color: gray;
    /* font-size: 15px; */
    text-align: center;
    color:black;
    position: relative;

}
.section-1{
    background-color: azure;
}
.section-2{
    background-color: rgb(158, 167, 175);
}




