*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width:100%
}
.row{
    display:flex;
    flex-wrap: wrap;
}.col{
    width: 100%;
    background-color: pink;
}

.col-12{
    width: 100%;

}
.col-6{
    width: 50%;
}
.col-4{
    width: 33.33%;
}
.col-3{
    width: 25%;
}
.col-2{
    width: 16.67%;
}
*/
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
[class*="col"]{
    padding: 10px;
}

