*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    
}


.h-100{
    height:100px;
}

.h-75{
    height: 75px;
}
.h-50{
    height:50px;
}
.h-25{
    height:25%;
}
.d-flex{
    display: flex;
}
.justify-content-spaceevenly{
    justify-content: space-evenly;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.bg-yellow{
    background-color: yellow;
}

.bg-green{
    background-color: green;
}


